.AppHeader__logo {
  animation: AppHeader__logo-spin infinite 20s linear;
  height: calc(4rem + 2vmin);
  pointer-events: none;
}

@keyframes AppHeader__logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
