.AppHeader {
  border-bottom: 1px solid #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppHeader__logo {
  animation: AppHeader__logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.AppHeader__link {
  color: #61dafb;
  font-size: 1rem;
}

@keyframes AppHeader__logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
